*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
}
h1{
    color: rgb(16, 158, 162);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    padding-top: 30px;
}
p{
   padding-top: 25px;
}
#head-content{
    font-size: 20px;
    color: rgb(17, 176, 139);
}
#main{
    text-align: center;
}
.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.cell{
    border-style: dotted;
    border-color: rgb(132, 255, 0);
    border-radius: 8px;
    height: 90px;
    width: 90px;
    display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 34px; 
    color: red;
	text-align: center; 
	cursor: pointer; 
}
.cell:active { 
	outline: none; 
} 
.cell:hover {
    background-color: grey;
}
#button{
    border: 2px solid rgb(16, 158, 162);
    height: 30px;
    width: 150px;
    border-radius: 10px;
    color: rgb(132, 255, 0);
    font-size: 18px;
}
#print{
    color: rgb(17, 176, 139);
    font-size: 24px;
}
